.first-wrap {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.character-btn {
  height: 100px;
  width: 90px;
  overflow: hidden;
}

.border-first {
  border: 3px solid green;
}

.border-second {
}

.character-img {
  width: 100%;
  height: auto;
}

.selected-character {
  width: 350px;
  display: flex;
  align-items: end;
  justify-content: center;
  height: calc(100% - 60px);
  padding: 30px auto;
}

.selected-character-img {
  display: block;
  max-width: 300px;
  max-height: auto;
}
