.app {
  text-align: center;
}

.main-block {
  width: 1200px;
  height: 900px;
  background-image: url("./assets/game_bg.jpg");
  background-position: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
